.aplo1{
    background:url(fondos/01F.jpg) !important; 
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo2{
    background:url(fondos/02F.jpg) !important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo3{
    background:url(fondos/03F.jpg) !important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo4{
    background:url(fondos/04F.jpg)!important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo5{
    background:url(fondos/05F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo6{
    background:url(fondos/06F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo7{
    background:url(fondos/07F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}
    
.aplo8{
    background:url(fondos/08F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo9{
    background:url(fondos/09F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo10{
    background:url(fondos/10F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo11{
    background:url(fondos/11F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo12{
    background:url(fondos/12F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo13{
    background:url(fondos/13F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}
    
.aplo14{
    background:url(fondos/14F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo15{
    background:url(fondos/15F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}
    .aplo16{
        background:url(fondos/001.jpg) !important; 
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo17{
        background:url(fondos/002.jpg) !important;
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo18{
        background:url(fondos/003.jpg) !important;
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo19{
        background:url(fondos/004.jpg)!important;
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo20{
        background:url(fondos/005.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo21{
        background:url(fondos/006.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo22{
        background:url(fondos/007.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
        
    .aplo23{
        background:url(fondos/008.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo24{
        background:url(fondos/009.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo25{
        background:url(fondos/010.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo28{
        background:url(fondos/011.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo29{
        background:url(fondos/012.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo30{
        background:url(fondos/013.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
        
    .aplo31{
        background:url(fondos/014.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
    
    .aplo32{
        background:url(fondos/015.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;}
        .aplo33{
            background:url(fondos/016.jpg) !important; 
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo34{
            background:url(fondos/017.jpg) !important;
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo35{
            background:url(fondos/018.jpg) !important;
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo36{
            background:url(fondos/019.jpg)!important;
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo37{
            background:url(fondos/020.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo38{
            background:url(fondos/021.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo39{
            background:url(fondos/022.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
            
        .aplo40{
            background:url(fondos/023.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo41{
            background:url(fondos/024.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo42{
            background:url(fondos/025.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo43{
            background:url(fondos/026.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo44{
            background:url(fondos/027.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo45{
            background:url(fondos/028.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
            
        .aplo46{
            background:url(fondos/029.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
        
        .aplo47{
            background:url(fondos/030.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            -webkit-background-size: cover;
            -moz-background-size:cover;}
// VIDEOS               
 .container3
  {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: -9999;
  }
  
  .container3 video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .container6
  {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: -9999;
  }
  
  .container6 video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .container8
  {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: -9999;
  }
  
  .container8 video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

